
body{
   
    font-family: 'Source Serif Pro', serif;
}


.cabecalho{
background-color: #000000;
color: rgb(255, 255, 255);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.cabecalho-imagem{
width: 20%;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 24px;
}

*{
margin: 0;
padding: 0;
}


/* ESCOLA ############################################*/
.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#000000,#ffaeed);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.escola-conteudo{
width: 55%;}


/* ESTUDANTE ############################################*/

.estudante{
    padding: 24px 0;
}

.estudante-imagem{
    width: 150px;
}

.estudante-icone{ 
    width: 30px;
    padding: 4px 8px;
}

.estudante-div{ 
    text-align: center;
    padding: 20px 0;
}

